.header {
    opacity: 85%;
    text-align: center;
    background-color: white;
    
 
}

.nav {
  color:blue;
}

.logo img{
    background-image: url(../components/images/GGOutline.png);
}

.font {
  font-weight: 100;
  font-size: .5rem;

}